/* 
.sunnyandshower-background-img {
  z-index: 0;
}

.thunderstorm-background-img {
  z-index: 0;
}

.cloudy-background-img {
  z-index: 0;
}

.snow-background-img {
  z-index: 0;
}

.sunny-background-img {
  z-index: 0;
}

.rainy-background-img {
  z-index: 0;
} */
