.form-addnewactivity {
  z-index: 5;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-top: solid 2px rgba(255, 255, 255, 0.87);
  /* border-radius: 10px; */

  margin: 5px;
  padding: 10px;
  width: 70%;

  display: grid;
  /* grid-template-columns: 4;
  grid-template-rows: 4; */
  grid-template-areas:
    "title title title title"
    "name input input input"
    "label label label checkbox"
    "submit submit submit submit";
}
.title-form {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  width: 100%;
  grid-area: title;
}
.label-input-name-activity {
  box-sizing: border-box;

  margin: 5px;
  padding: 5px;

  grid-area: name;
}
.input-name-activity {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  margin: 5px;
  padding: 5px;

  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  background-color: transparent;

  grid-area: input;
}

.input-name-activity:hover {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  margin: 5px;
  padding: 5px;

  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.87);
  background-color: transparent;

  grid-area: input;
}

.input-name-activity:focus {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  margin: 5px;
  padding: 5px;

  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.87);
  background-color: transparent;

  grid-area: input;
}

.label-for-checkbox {
  box-sizing: border-box;

  text-align: left;
  margin: 5px;
  padding: 5px;
  grid-area: label;
}

/* ----checkbox wrapper starts here  --- */
.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;

  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  grid-area: checkbox;
}

.checkbox-wrapper .toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper .toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9a9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.checkbox-wrapper .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.checkbox-wrapper .toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background-color: #0cf !important;
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.checkbox-wrapper #input-checkbox:checked + .toggle:before {
  background-color: rgb(134, 231, 255) !important;
}
.checkbox-wrapper #input-checkbox:checked + .toggle span {
  background-color: rgb(1, 171, 244) !important;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgb(0, 73, 146) !important;
}
.checkbox-wrapper #input-checkbox:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

/* ---------------------------------------- */
.submit-button {
  box-sizing: border-box;
  margin-block: 5px;
  margin-inline: 5px;
  padding: 10px;
  width: fit-content;
  grid-area: submit;
  display: flex;
  justify-self: center;

  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
  font-weight: 600;

  transition: 0.5s ease-in-out;
}

.submit-button:hover {
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 4px;
  margin-inline: 5px;
  padding: 10px;
  width: fit-content;
  grid-area: submit;
  display: flex;
  justify-self: center;

  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.689);
  color: #242424;
  font-weight: 600;
  transition: ease-in-out;
}
